/*
--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights:
Defaults: 400
Medium: 500
Semi-bold: 600
Bold: 700

- Line heights: 
Default: 1
Small: 1.05
Medium: 1.2
Paragraph default: 1.6

- Letter spacing
-0.5px
0.75px
--- 02 COLORS

- Primary: 
#112A46
#9c6644
- Tints: 
#f5f0ec
- Shades: 
#cf711f
#45260a
- Accents: 
- Greys: 
#6f6f6f (lightest grey allowed on #fdf2e9)
#555
#333
#888
#767676 (lightest grey allowed on #fff)

--- 05 SHADOWS

0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);

--- 06 BORDER_RADIUS

Default: 9px

--- 07 WHITESPACE

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */
  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}

a {
  text-decoration: none;
  color: inherit;
}

.grid {
  display: grid;
  gap: 9.6rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

/*************************/
/* HERO */
/*************************/

.hero {
  max-width: 130rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
}

.section-hero {
  background-color: #f5f0ec;
  padding: 4.8rem 0 9.6rem 0;
}

.heading-primary,
.heading-secondary {
  font-weight: 700;
  color: #333;
  letter-spacing: -0.5px;
}

.heading-primary {
  font-size: 5.2rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}

.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}

.subheading {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  color: #1d4f89;
  text-transform: uppercase;
  margin-bottom: 4.8rem;
  letter-spacing: 0.75px;
  margin-top: 4.8rem;
}

.center-text {
  text-align: center;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.btn:link,
.btn:visited {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 500;
  padding: 1.6rem 3.2rem;
  border-radius: 15px;
  background-color: #1d4f89;
  position: relative;
  overflow: hidden;
  text-align: center;
  border: none;
}

.flash-slide::before {
  content: "";
  position: absolute;
  top: -30px;
  left: -80px;
  height: 100px;
  width: 70px;
  background: rgba(255, 255, 255, 0.3);
  transform: rotate(20deg);
}

.flash-slide:hover::before {
  left: 245px;
  transition: 0.5s;
}

.hero-img {
  width: 100%;
  filter: drop-shadow(10px -5px 20px rgba(0, 0, 0, 0.2));
}

/*************************/
/* FEATURE */
/*************************/

.feature {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Aligns text to the left */
  position: relative;
}

.feature-icon {
  align-self: center; /* Centers the icon while keeping text left-aligned */
  color: #1d4f89;
  height: 3.2rem;
  width: 3.2rem;
  margin-top: 9.6rem;
  margin-bottom: 3.2rem;
  background-color: #e7eaed;
  padding: 1.6rem;
  border-radius: 50%;
}
.feature-title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 700;
  margin-bottom: 1.6rem;
}
.feature-text {
  font-size: 1.8rem;
  line-height: 1.8;
}

/*************************/
/* HEADER */
/*************************/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f0ec;

  height: 9.6rem;
  padding: 0 4.8rem;
}

.logo {
  height: 3.6rem;
}

/*************************/
/* NAVIGATION */
/*************************/

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;
  position: relative;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #346195;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  padding: 1.2rem 2.4rem;
  border-radius: 13px;
  background-color: #1d4f89;
  position: relative;
  overflow: hidden;
  text-align: center;
  border: none;
}

.sub-list {
  display: none;
  position: absolute;
  top: 120%;
  padding: 0;
  margin: 0;
  z-index: 10;
  list-style: none;
  line-height: 1.6;
}

.main-nav-list li {
  position: relative;
}

.sub-list-link {
  display: block;
  font-weight: 500;
  font-size: 1.8rem;
  color: #333;
  transition: background-color 0.3;
}

.main-nav-list li:hover .sub-list,
.main-nav-list li:focus-within .sub-list {
  display: block;
}

.flash-slide-nav::before {
  content: "";
  position: absolute;
  top: -30px;
  left: -80px;
  height: 100px;
  width: 70px;
  background: rgba(255, 255, 255, 0.3);
  transform: rotate(20deg);
}

.flash-slide-nav:hover::before {
  left: 180px;
  transition: 0.5s;
}

/*************************/
/* NEWS */
/*************************/

.section-news {
  padding: 4.8rem 0 12.8rem;
}

.news {
  display: grid;
  grid-template-columns: 1fr;
  /* background-color: #e67e22; */
  /* box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15); */
  /* border-radius: 11px; */
  overflow: hidden;
  /* background-image: linear-gradient(to right bottom, #ebe0da, #e1d1c7); */
}

.news-img {
  width: 100%;
  border-radius: 9px;
  margin-bottom: 2.4rem;
}

.news-text,
.link-old {
  font-size: 2rem;
  line-height: 1.6;
}

.heading-tertiary {
  font-size: 2.4rem;
  color: #333;
  font-weight: 700;
  margin-bottom: 1.6rem;
  margin-top: 4.8rem;
}

.older-news {
  border-top: 1px solid #d3d3d3;
  padding-top: 10px;
}

.link-old {
  font-weight: 600;
  position: relative;
  display: inline-block;
  text-decoration: none;
}

.link-text {
  position: relative; /* Needed for the ::before pseudo-element to be positioned correctly */
  display: inline-block; /* Ensures the link behaves as a block for proper pseudo-element positioning */
  color: #1d4f89;
  text-decoration: none;
}

.link-text::before,
.link-old::before {
  content: ""; /* Required for a pseudo-element to appear */
  position: absolute; /* Positions it relative to .link-text */
  display: block; /* Ensures it behaves like a block element */
  width: 100%; /* Makes the underline span the full width of the link */
  height: 4px; /* Thickness of the underline */
  background-color: #1d4f89;
  bottom: 0; /* Places it at the bottom of the text */
  left: 0; /* Aligns it with the left side */
  border-radius: 4px;
  transform: scaleX(0); /* Initially hidden (zero width) */
  transform-origin: right; /* Starts shrinking from the right */
  transition: transform 0.3s ease-in-out; /* Smooth animation */
}

.link-text:hover::before,
.link-old:hover::before {
  transform-origin: left; /* Expands from the left */
  transform: scaleX(1); /* Fully expands the underline */
}

.date {
  font-size: 1rem;
  margin-bottom: 0.4rem;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  margin-top: 3.2rem;
  gap: 1rem;
}

/*************************/
/* OUR DOGS */
/*************************/

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.section-dogs {
  background-color: #f5f0ec;
  padding: 4.8rem 0 9.6rem 0;
}

.button-box {
  width: 220px;
  margin: 20px auto;
  position: relative;
  border-radius: 30px;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  /* border: 2px solid #1d4f89; */
}

.toggle-btn {
  flex: 1;
  padding: 10px;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  color: #555;
}

#btn {
  position: absolute;
  width: 50%;
  height: 100%;
  background: #1d4f89;
  border-radius: 30px;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
}

#btn-text {
  color: white;
  font-size: 1.6rem;
  font-weight: 600;
  text-align: center;
}

.dog-list {
  text-align: center;
  margin-top: 20px;
}

.hidden {
  display: none;
}

.dog-img {
  width: 65%;
  border-radius: 8px;
}
